
            <table class="table bg-white">
                <thead class="bg-info text-white">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col" style="color: white;">Description</th>
                    <th scope="col" style="color: white;">Category</th>
                    <th scope="col" style="color: white;">Amount</th>
                    <th scope="col" style="color: white;">Remark</th>
                    <th scope="col" style="color: white;">Exp. Date</th>
                    <th scope="col" style="color: white;">Action</th>
                  </tr>
                </thead>
               
                <tbody>
                  

                  {% for expenses in list_expenses %}
                  <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td >{{ expenses.description }}</td>
                    <td nowrap>{{ expenses.category }}</td>
                    <td nowrap>N{{ expenses.amount | intcomma }}</td>
                    <td >{{ expenses.Remarks }}</td>
                    <td nowrap>{{ expenses.date }}</td>
                  </tr>
                  {% endfor %}   
                </tbody>
                
              </table>
    