{% extends 'dashboard_base.html' %}

{% block title %} User | List Expenditure {% endblock %}

{% load static %}

{% load humanize %}

{% load crispy_forms_tags %}

{% block content %}




<!-- Left sidebar menu start -->
{% include 'partials/_LeftSideBar.html' %}
<!-- Left sidebar menu end -->

<main class="ttr-wrapper">
    <div class="container-fluid">
        <div class="db-breadcrumb">
            <h4 class="breadcrumb-title" style="color: rgb(4, 149, 16);">Hello! {{ user.username }} </h4>
            <ul class="db-breadcrumb-list">
                <li><a href="#"><i class="fa fa-home"></i>Home</a></li>
                <li style="color: blue;">List of Expenses</li>
            </ul>
        </div>	

        
        {% include 'partials/_alerts.html' %}	

        <div class="table-responsive mb-4">
          {% if list_expenses %}
            <table class="table bg-white">
                <thead class="bg-info text-white">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col" style="color: white;">Description</th>
                    <th scope="col" style="color: white;">Category</th>
                    <th scope="col" style="color: white;">Amount</th>
                    <th scope="col" style="color: white;">Remark</th>
                    <th scope="col" style="color: white;">Exp. Date</th>
                    <th scope="col" style="color: white;">Action</th>
                  </tr>
                </thead>
               
                <tbody>
                  

                  {% for expenses in list_expenses %}
                  <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td >{{ expenses.description }}</td>
                    <td nowrap>{{ expenses.category }}</td>
                    <td nowrap>N{{ expenses.amount | intcomma }}</td>
                    <td >{{ expenses.Remarks }}</td>
                    <td nowrap>{{ expenses.date }}</td>
                    
                    <td nowrap>
                      {% if user.is_authenticated and user.is_staff and user.is_superuser %}
                      <a class="btn btn-info btn-sm" href="#">Print</a>
                      {% else %}
                        <a class="btn btn-info btn-sm" href="{% url 'expense-update' expenses.id %}">Edit</a>
                        <a class="btn btn-danger btn-sm" href="{% url 'admin-expense-delete' expenses.id %}">Delete</a>
                      {% endif %}
                      </td>
                  </tr>
                  {% endfor %}   
                </tbody>
                
              </table>
              {% else %} 
                <strong style="text-align: center; color:brown;"> There are No Available Expenditure to Display </strong> 
                {% endif %}

              <div class="d-flex justify-centent-center">
                <div class="col-md-12">
                  {% if list_expenses.has_other_pages %}
                  <ul class="pagination">
                    {% if list_expenses.has_previous %}
                    <li class="page-item">
                      <a href="?page={{list_expenses.previous_page_number}}" class="page-link">
                        &laquo;
                      </a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                      <a class="page-link">
                        &laquo;
                      </a>
                    </li>
                    {% endif %}
                    {% for i in list_expenses.paginator.page_range %}
        
                    {% if list_expenses.number == i %}
        
                    <li class="page-item active">
                      <a  class="page-link">
                        {{i}}
                      </a>
                    </li>
        
                    {% else %}
        
                    <li class="page-item">
                      <a href="?page={{i}}" class="page-link">{{i}}</a>
                    </li>
        
                    {% endif %}
        
                    {% endfor %}
        
                    {% if list_income.has_next %}
                    <li class="page-item">
                      <a href="?page={{list_income.next_page_number}}" class="page-link">
                        &raquo;
                      </a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                      <a class="page-link">
                        &raquo;
                      </a>
                    </li>
                    {% endif %}
                  </ul>
                  {% endif %}
                </div>
              </div>
        </div>
    </div>
</main>

{% endblock %}