{% load humanize %}
<div class="row">
    <div class="col-md-6 col-lg-3 col-xl-3 col-sm-6 col-12">
        <div class="widget-card widget-bg4">					 
            <div class="wc-item">
                <h4 class="wc-title">
                    Income:
                </h4>
                <span style="color:black;font-size:small">
                    Today: {{date_today}} 
                <span class="wc-stats counter">
                    <h5 style="color: white;">N{{ daily_income | intcomma }}</h5>
                </span>		
                <div class="progress wc-progress">
                    <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <span class="wc-progress-bx">
                    <span class="wc-change">
                        Change
                    </span>
                    <span class="wc-number ml-auto">
                        90%
                    </span>
                </span>
            </div>				      
        </div>
    </div>
    <div class="col-md-6 col-lg-3 col-xl-3 col-sm-6 col-12">
        <div class="widget-card widget-bg1">					 
            <div class="wc-item">
                <h4 class="wc-title">
                   Monthly:
                </h4>
                <span style="color:rgb(179, 180, 175);font-size:small">
                    This Month: {% now "M" %}, {% now "Y" %}
                </span>
                <span class="wc-stats counter">
                   <h5 style="color: white;"> N{{ total_income | intcomma }}</h5>
                </span>	
                	
                <div class="progress wc-progress">
                    <div class="progress-bar" role="progressbar" style="width: 78%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <span class="wc-progress-bx">
                    <span class="wc-change">
                        Change
                    </span>
                    <span class="wc-number ml-auto">
                        78%
                    </span>
                </span>
            </div>				      
        </div>
    </div>
    <div class="col-md-6 col-lg-3 col-xl-3 col-sm-6 col-12">
        <div class="widget-card widget-bg2">					 
            <div class="wc-item">
                <h4 class="wc-title">
                     Net Income:
                </h4>
                <span style="color:black;font-size:small">
                    This Month: {% now "M" %}, {% now "Y" %}
                </span>
                <span class="wc-stats counter">
                   <h5 style="color: rgb(95, 3, 3);"> N{{ net_monthly_income | intcomma }} </h5> 
                </span>		
                <div class="progress wc-progress">
                    <div class="progress-bar" role="progressbar" style="width: 88%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <span class="wc-progress-bx">
                    <span class="wc-change">
                        Change
                    </span>
                    <span class="wc-number ml-auto">
                        88%
                    </span>
                </span>
            </div>				      
        </div>
    </div>
    <div class="col-md-6 col-lg-3 col-xl-3 col-sm-6 col-12">
        <div class="widget-card widget-bg3">					 
            <div class="wc-item">
                <h4 class="wc-title">
                    Expenses:
                </h4>
                <span style="color:black;font-size:small">
                    This Month: {% now "M" %}, {% now "Y" %}
                </span>
                <span class="wc-stats counter">
                    <h5 style="color: rgb(0, 0, 7);">N{{ total_monthly_expenses | intcomma }}</h5>
                </span>		
                <div class="progress wc-progress">
                    <div class="progress-bar" role="progressbar" style="width: 65%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <span class="wc-progress-bx">
                    <span class="wc-change">
                        Change
                    </span>
                    <span class="wc-number ml-auto">
                        65%
                    </span>
                </span>
            </div>				      
        </div>
    </div>
    
</div>